body {
    font-family: Palatino, serif;
    margin: 0;
    padding: 0;
}

#block-other-elements {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#blurred-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(26, 21, 21);
    color: white;
    overflow-y: auto;
}

header {
    padding-top: 15px;
    text-align: center;
}

#clear-btn {
    position: absolute;
    left: 5%;
    top: 10px;
    border: none;
    background-color: transparent;
}

#fire {
    margin: auto;
    background-color: transparent;
    color: rgb(255, 153, 0);
    border: none;
    font-size: 40px;
}

#candle-stick {
    margin: auto;
    margin-top: -3px;
    width: 25px;
    height: 50px;
    background-color: rgb(235, 233, 206);
    border-radius: 5%;
}

#candle-pan {
    margin: auto;
    width: 65px;
    height: 20px;
    background-color: rgb(80, 8, 8);
    border-radius: 10%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#clear-btn:hover #fire {
    position: relative;
    z-index: 1;
    transform: rotate(120deg);
    left: 55px;
    top: 80px;
    color: rgb(255, 145, 0);
    text-shadow: 0px 0px 15px rgb(255, 136, 0);
} 

#clear-btn:hover #candle-stick {
    position: relative;
    transform: rotate(120deg);
    left: 20px;
    top: 20px;
}

#clear-warning {
    display: none;
    height: 250px;
}

#clear-warning p {
    margin: 10px;
}

#clear-confirm-btn {
    display: block;
    margin: auto;
    position: relative;
    top: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: rgb(80, 8, 8);
}

#clear-confirm-btn:hover {
    color: rgb(197, 8, 8);
}

#exit-warning-btn {
    position: absolute;
    top: -110px;
    left: 325px;
}

h1 {
    font-size: 55px;
    padding: 0;
    margin: 0;
}

header p {
    padding: 0 0 20px 0;
    margin: 0;
}

#book-holder {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    border: 20px solid rgb(179, 102, 51);
    border-radius: 1%;
    background-color: rgb(88, 50, 25);
}

.book-div {
    display: flex;
    flex-direction: column;
}

.book-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 15px 0px 50px black, inset -5px 3px white, 3px -1.5px 1px rgb(31, 31, 31);
    width: 150px;
    height: 200px;
    font-size: 20px;
    margin: 10px;
    border-radius: 2%;
    border: none;
    color: white;
    font: inherit;
}

.book-cover:hover {
    box-shadow: inset 0px 0px 10px 1px rgb(34, 31, 31), inset -5px 3px white, 3px -1.5px 1px rgb(31, 31, 31), 0 0 3px 2px rgb(255, 255, 255);;
}

.cover-title {
    height: 30px;
    font-size: 15px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.cover-author {
    max-width: 140px;
    position: relative;
    top: 50px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-shelf {
    position: absolute;
    width: 91vw;
    height: 10px;
    margin: -7px;
    background-color: rgb(179, 102, 51);
    box-shadow: 2px -10px rgb(250, 141, 68);
    transform: skew(-20deg);
}

.book-shelf-positioning {
    width: 5px;
}

#add-book-btn {
    background: linear-gradient(45deg, rgb(2, 19, 252), rgb(219, 11, 185));
    box-shadow: none;
    color: white;
    font-size: 100px;
    border: blue;
}

#add-book-btn:hover {
    box-shadow: 0 0 3px 2px rgb(255, 255, 255);
}

.info-sheet {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(252, 243, 235);
    width: 350px;
    height: 400px;
    border: 1px rgb(107, 31, 12) solid;
    border-radius: 1%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-input {
    height: 40px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom: rgb(107, 31, 12) solid 1px;
}

#form-header {
    display: flex;
}

.cancel-btn {
    font-family: fantasy;
    height: 100%;
    background: transparent;
    color: black;
    border: none;
    font-size: 25px;
    transform: scale(1.3,1);
}

.cancel-btn:hover {
    color: rgb(107, 31, 12);
}

h2 {
    font-size: 25px;
    width: 350px;
    text-align: center;
    border-bottom: 2.4px rgb(107, 31, 12) solid;
    margin-bottom: 0px;
    margin-right: -25px;
    padding: 10px 0 10px 0;
}

label {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

input {
    font-family: Palatino, serif;
    background-color: rgb(252, 243, 235);
    border: none;
    width: 200px;
    height: 35px;;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(54, 16, 6);
}

input[type="checkbox"] {
    width: 20px;
    height: 15px;
    margin-left: 20px;
}

#form-submit-btn {
    display: block;
    margin: 4px auto 4px auto;
    padding: none;
    background-color:  rgb(252, 243, 235);
    border: none;
    font-family: cursive;
    font-size: 25px;
}

#form-submit-btn:hover {
    color: rgb(107, 31, 12);
}

.info-section {
    display: flex;
    height: 50px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: rgb(107, 31, 12) solid 1px;
}
 
h3 {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 20px;
}

.info-section p {
    margin: 7px 0 0 10px;
    padding: 0;
    font-size: 17px;
    color: rgb(54, 16, 6);
    overflow: hidden;
    text-overflow: ellipsis;
}

#toggle-status-btn {
    position: relative;
    left: 150px;
    top: -5px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(107, 31, 12);
}

#toggle-status-btn:hover {
    color: rgb(179, 102, 51);
}

#exit-info-btn {
    position: absolute;
    bottom: 185px;
    right: 0;
}

#delete-entry-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(105, 5, 5);
    width: 100%;
    height: 65px;
    border: none;
    background-color: transparent;
}

#delete-entry-btn:hover {
    color: rgb(197, 8, 8);
}

@media screen and (max-width: 420px) {
    #clear-btn {
        left: 0;
    }
    #fire {
        font-size: 25px;
    }
    #candle-stick {
        width: 20px;
        height: 30px;
    }
    #candle-pan {
        width: 40px;
        height: 10px;
    }
    .book-cover {
        width: 100px;
        height: 150px;
    }
    .cover-title {
        overflow-wrap: break-word;
        word-break: break-all;
    }
    .cover-author {
        top: 20px;
    }
    .info-sheet {
        width: 280px;
    }
    h2 {
        width: 280px;
    }
    input {
        width: 150px;
    }
    #exit-warning-btn {
        left: 255px;
    }
    #toggle-status-btn {
        left: 80px;
    }
}